.bgjuan {
    background-image:url("assets/images/aidan-hancock-8RU4OuA6Yug-unsplash.png");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.logo {
    margin:10px;
    padding:10px;
    margin-left:60px;
} 

.black {
    color:black;
}

.center {
    text-align:center;
}
